/*header*/
.header{width: 100%; padding: 5px 0; position: absolute; z-index: 99999; background-color: transparent; }
.header.on{ width: 100%; background-color: #fff; position: fixed;}

.header .gnb{ height: 44px; position: relative;}
.header .gnb h1{ width: 97px; float: left; position: absolute; top: 50%; left: 15px; margin-top: -11px;}
.header .gnb h1 a{ height: 21px; display: block; background:  url(../img/logo/logo_white.svg) no-repeat; background-size: 100%; background-position: center; text-indent: -99999px;}

.header .gnb ul{ position: absolute; top: 0; right: 0;}
.header .gnb ul li{ float: left;}
.header .gnb ul li a{ height: 44px; display: block; padding: 12px 10px; box-sizing: border-box; }
.header .gnb ul li a img{ height: 100%;}

/*navigation*/
.nav{ width: 100%; height: 100%; background-color: #fff; position: fixed; top: 0; right: -100%; z-index: 999999; overflow-y: scroll;}

.nav .nav_top{ width: 100%; height: 44px; overflow: hidden; padding: 5px 0; font-family: 'Noto Sans KR', sans-serif; }
.nav .nav_top .login{ float: left; padding: 0 20px; box-sizing: border-box;  }
.nav .nav_top .login a{ display: block; line-height: 44px;}
.nav .nav_top .close{ float: right; }
.nav .nav_top .close a{ width: 44px; height: 44px; display: block; background: url(../img/icon/btn_close.png) no-repeat; background-size: 16px; background-position: center; text-indent: -9999px;}

.nav .nav_search{ width: 100%; overflow: hidden; background-color: #000;}
.nav .nav_search input{ width: 80%; border:0; padding: 10px 20px; box-sizing: border-box; float: left; background-color: #000; color: #fff; font-size: 14px; line-height: 44px;}
.nav .nav_search input::placeholder{ color: #fff; }
.nav .nav_search button{ width: 20%; height: 64px; border:0; padding: 10px; box-sizing: border-box; float: left; background: url(../img/icon/btn_search.svg) no-repeat; background-size: 30%; background-position: center;}

.nav .nav_menu{ width: 100%;}
.nav .nav_menu .tit_menu>li{ width: 100%; }
.nav .nav_menu .tit_menu>li>a{ font-family: 'Noto Sans KR', sans-serif;font-weight: 500;
    display: block; padding: 8px 20px;; box-sizing: border-box; 
    font-size: 16px; line-height: 40px; 
    position: relative; border-bottom: 1px solid #eee;}
.nav .nav_menu .tit_menu>li>a::after{ content: ''; width:12px; height: 12px; position: absolute; top: 18px; right: 20px; border-right: 1px solid #000; border-bottom: 1px solid #000; transform: rotate(45deg)}
.nav .nav_menu .tit_menu>li.on>a::after{ top: 24px; transform: rotate(225deg) }
.nav .nav_menu .tit_menu>li:last-child>a::after{ display: none; }

.nav .nav_menu .sub_menu{ height: 0; overflow: hidden;
    transition: 0.3s ease-in-out; 
    -moz-transition: 0.3s ease-in-out; 
    -ms-transition: 0.3s ease-in-out; 
    -o-transition: 0.3s ease-in-out;}}
.nav .nav_menu .sub_menu li{ width: 100%; font-family: 'Noto Sans KR', sans-serif;  }
.nav .nav_menu .sub_menu li a{ display: block; padding: 10px 0 10px 40px; box-sizing: border-box; font-size: 16px; font-weight: 500; line-height: 24px;}

.nav .nav_bx{ width: 100%; padding: 30px 20px 0; box-sizing: border-box;}
.nav .nav_bx .nav_bx_txt_wrap .nav_bx_tit{ padding: 15px 0; box-sizing: border-box; font-size: 16px; font-weight: bold;}
.nav .nav_bx .nav_bx_txt_wrap .nav_bx_txt{ font-size: 14px; line-height: 24px;}
.nav .nav_bx .nav_bx_link{ width: 100%; padding : 15px 0 0; box-sizing: border-box; }
.nav .nav_bx .nav_bx_link a{ display: block; padding: 10px; box-sizing: border-box; background-color: #000; color: #fff; font-size: 14px; font-weight: 500; line-height: 30px; position: relative;}
.nav .nav_bx .nav_bx_link a::after{content: ''; width:12px; height: 12px; position: absolute; top: 18px; right: 15px; border-right: 1px solid #fff; border-bottom: 1px solid #fff; transform: rotate(-45deg)}

.nav .nav_sns{ padding: 30px 20px; }
.nav .nav_sns ul{ overflow: hidden;}
.nav .nav_sns ul li{ float: left; padding-right: 15px; }
.nav .nav_sns ul li a{ width: 30px; height: 30px; display: block; }
.nav .nav_sns ul li a.sns01{ background: url(../img/icon/btn_sns01_b.svg) no-repeat; background-size: cover; }
.nav .nav_sns ul li a.sns02{ background: url(../img/icon/btn_sns02_b.svg) no-repeat; background-size: cover; }
.nav .nav_sns ul li a.sns03{ background: url(../img/icon/btn_sns03_b.svg) no-repeat; background-size: cover; }
.nav .nav_sns ul li a.sns04{ background: url(../img/icon/btn_sns04_b.svg) no-repeat; background-size: cover; }




/*main*/
.txt_title{ font-size: 24px; font-weight: bold; text-align: center; line-height: 48px; margin-bottom: 20px;}
.more{ padding: 20px 0; text-align: center;}
.more a{ display: inline-block; font-size: 16px; font-weight: 400; padding-bottom: 5px; border-bottom: 1px solid #000; }


/*main_vis*/
.main_vis{ width: 100%; height: auto; }
.main_vis .swiper-container{ width: 100%; height: auto; }
.main_vis .swiper-wrapper{width: 100%;}
.main_vis .swiper-slide{ width: 100%; }
.main_vis .swiper-slide img{ width: 100%; }
.main_vis .swiper-button-prev::after,
.main_vis .swiper-button-next::after{ color: #fff;  font-size: 24px; font-weight: bold;}
.main_vis .swiper-pagination{ bottom: 30px; }
.main_vis .swiper-pagination-bullet{ border-radius: 8px; background: #fff; opacity: 1; }
.main_vis .swiper-pagination-bullet-active{ width: 24px; background: #fff;}

/*main_best*/
.main_best{ width: 100%; padding: 50px 0;}
.main_best .txt_title{ margin-bottom: 0;}
.main_best .slide_nav .swiper-container{ width: 100%; padding: 20px 0;}
.main_best .slide_nav .swiper-wrapper{ width: 100%;}
.main_best .slide_nav .swiper-slide{ width: 90px; text-align: center; }
.main_best .slide_nav .swiper-slide:last-child{ margin-right: 30px;}
.main_best .slide_nav .swiper-slide.on span{ position: relative; }
.main_best .slide_nav .swiper-slide.on span::after{ content: ''; width: 30px; height: 30px; border-radius: 100%; background-color: #17b0e9; opacity: 0.5; position: absolute; top: -2px; left: -7px; z-index: -1;}



.main_best .slide_nav .swiper-slide a{ display: block; color:#000; font-size: 16px; font-weight: 400; margin: auto;}

.main_best .best_con .swiper-container{ display: none;}
.main_best .best_con .swiper-container.on{ display: block; padding: 10px 20px;}
.main_best .best_con .swiper-slide{ width: 190px;}
.main_best .best_con .swiper-slide a{ display: inline-block}
.main_best .best_con .swiper-slide a img{ width: 100%;}
.main_best .best_con .swiper-slide a .txt_wrap>strong{ min-height: 40px; display: block; padding: 15px 0; font-size: 14px; font-weight: bold; border-bottom: 1px solid #d1d3d4; line-height: 20px;}
.main_best .best_con .swiper-slide a .txt_wrap .price_info{ height: 30px; font-size: 16px; line-height: 30px; overflow: hidden; padding-top: 5px; }
.main_best .best_con .swiper-slide a .txt_wrap .price_info .c_price{ float: left;}
.main_best .best_con .swiper-slide a .txt_wrap .price_info .n_price{ padding-left: 10px; float: left; color: #888; font-size: 12px; text-decoration: line-through; }
.main_best .best_con .swiper-slide a .txt_wrap .price_info .discount{ float: right; color: #d20404;}



/*main_event*/
.main_event{ width: 100%; padding: 50px 0;}
.main_event .swiper-container{ width: 100%; height: auto; padding: 0 20px 30px; padding-top: 0; box-sizing: border-box;}
.main_event .swiper-slide a{ display: block;}
.main_event .swiper-slide img{ width: 100%; }
.main_event .swiper-slide .txt_wrap strong{ display: block; padding: 15px 0; font-size: 16px; font-weight: bold; text-align: center; line-height: 24px;}
.main_event .swiper-slide .txt_wrap p{ font-size: 14px; text-align: center; line-height: 18px;}
.main_event .swiper-button-prev{ top: 40%; left: 5px; color: #e2e2e2; }
.main_event .swiper-button-next{ top: 40%; right: 5px; color: #e2e2e2; }
.main_event .swiper-button-prev::after,
.main_event .swiper-button-next::after{ font-size: 28px;}
.main_event .swiper-pagination{ z-index: 99;}
.main_event .swiper-pagination-bullet{ height: 5px; border-radius: 5px; background: #e2e2e2; opacity: 1; }
.main_event .swiper-pagination-bullet-active{ width: 24px; background: #e2e2e2;}

/*main_category*/
.main_cat{ width: 100%; padding: 50px 0; overflow: hidden;}
.main_cat ul li{ height: 300px; margin: 5px 0; overflow: hidden; }
.main_cat ul li.cat01 span{ width: 100%; height: 500px; position: absolute; top: 0; left: 0; z-index: -1; background: url(../img/bg/bg_cat01.jpg) no-repeat; background-position: top; background-size: cover; transition: all 0.5s; }
.main_cat ul li.cat02 span{ width: 100%; height: 500px; position: absolute; top: 0; left: 0; z-index: -1; background: url(../img/bg/bg_cat02.jpg) no-repeat; background-position: top; background-size: cover; transition: all 0.5s; }
.main_cat ul li.cat03 span{ width: 100%; height: 500px; position: absolute; top: 0; left: 0; z-index: -1; background: url(../img/bg/bg_cat03.jpg) no-repeat; background-position: top; background-size: cover; transition: all 0.5s; }
.main_cat ul li.cat04 span{ width: 100%; height: 500px; position: absolute; top: 0; left: 0; z-index: -1; background: url(../img/bg/bg_cat04.jpg) no-repeat; background-position: top; background-size: cover; transition: all 0.5s; }
.main_cat ul li.cat05 span{ width: 100%; height: 500px; position: absolute; top: 0; left: 0; z-index: -1; background: url(../img/bg/bg_cat05.jpg) no-repeat; background-position: top; background-size: cover; transition: all 0.5s; }
.main_cat ul li.cat06 span{ width: 100%; height: 500px; position: absolute; top: 0; left: 0; z-index: -1; background: url(../img/bg/bg_cat06.gif) no-repeat; background-position: center; background-size: cover; transition: all 0.5s; }
.main_cat ul li a{ height: 100%; display: block; position: relative; background: rgba(0,0,0,0.3); }
.main_cat ul li a .txt_wrap{ width: 100%; position: absolute; top: 40%; left: 0;}
.main_cat ul li a .txt_wrap strong{ display: block; font-family: 'S-CoreDream-7ExtraBold'; color: #fff; font-size: 28px; font-weight: bold; text-align: center; }
.main_cat ul li a .txt_wrap .more{ color: #fff; font-size: 16px; font-weight: 300; }

/*main_brand*/
.main_brand{ width: 100%; padding: 50px 0;}
.main_brand .brand_story{ width: 100%; height: 650px; position: relative;}
.main_brand .brand_story strong{font-family: 'S-CoreDream-9Black'; font-size: 48px; text-align: left; line-height: 50px; position: absolute; top: 0; left: -100px; z-index: -1;}
.main_brand .brand_story p{ font-size: 14px; font-weight: 400; text-align: left; line-height: 20px; position: absolute; bottom: 80px; left: 15px; z-index: 1; }
.main_brand .brand_story .bg{ width: 100%; height: 650px; background: url(../img/bg/bg_brand_story.png) no-repeat; background-size: 100%; background-position: center; position: absolute; bottom: 0; left: 0; text-indent: -9999px;}
.main_brand .brand_story .bg_bottom{ width: 100%; height: 300px; background: linear-gradient( 180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%); opacity: 0.95; position: absolute; bottom: 0; left: 0; }
.main_brand .brand_story .more{ width: 100%; position: absolute; bottom: 0; left: 0;}

.main_brand .brand_visual{ width: 100%; height: 350px; margin-top: 50px; position: relative;}
.main_brand .brand_visual strong{font-family: 'S-CoreDream-9Black'; font-size: 48px; text-align: right; line-height: 50px; position: absolute; top: 0; right: 25px; z-index:-1;}
.main_brand .brand_visual p{ font-size: 14px; font-weight: 400; text-align: left; line-height: 20px; position: absolute; bottom: 80px; right: 15px; z-index: 1;}
.main_brand .brand_visual .bg{ width: 100%; height: 350px; background: url(../img/bg/bg_brand_visual.png) no-repeat; background-size: 100%; background-position: center; position: absolute; bottom: 0; left: 0; text-indent: -9999px;}
.main_brand .brand_visual .bg_bottom{ width: 100%; height: 200px; background: linear-gradient( 180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%); opacity: 0.8; position: absolute; bottom: 0; left: 0; }
.main_brand .brand_visual .more{ width: 100%; position: absolute; bottom: 0; left: 0;}


/*main_sns*/
.main_sns{ padding: 50px 0;}
.main_sns h3{ margin-bottom: 10px;}
.main_sns p{ font-size: 18px; text-align: center; line-height: 24px;}
.main_sns .sns_con{ width: 100%; padding: 30px 20px; box-sizing: border-box; }
.main_sns .sns_con ul{ overflow: hidden; }
.main_sns .sns_con ul li{ width: 50%; float: left; }
.main_sns .sns_con ul li a{ display: block; height: auto; }
.main_sns .sns_con ul li a img{ width: 100%; vertical-align: top; }


/*footer*/
.footer_con{ width: 100%; background-color: #000; padding: 0 20px; box-sizing: border-box; }

.foot_top{ width: 100%; border-bottom: 1px solid #333;}
.foot_top ul{ overflow: hidden; }
.foot_top ul li{ width: 33.3%; float: left; padding: 20px 0;}
.foot_top ul li a{ display: block; border-right: 1px solid #999; color: #fff; font-weight: 400; font-size: 14px; text-align: center;}
.foot_top ul li:last-child a{ border-right: 0;}

.foot_sns{ width: 100%; }
.foot_sns ul{ overflow: hidden; padding-top: 20px;}
.foot_sns ul li{ float: left; padding-right: 15px;}
.foot_sns ul li a{ width: 30px; height: 30px; display: block;}
.foot_sns ul li a.sns01{ background: url(../img/icon/btn_sns01.svg) no-repeat; background-size: cover;}
.foot_sns ul li a.sns02{ background: url(../img/icon/btn_sns02.svg) no-repeat; background-size: cover;}
.foot_sns ul li a.sns03{ background: url(../img/icon/btn_sns03.svg) no-repeat; background-size: cover;}
.foot_sns ul li a.sns04{ background: url(../img/icon/btn_sns04.svg) no-repeat; background-size: cover;}

.foot_info{ width: 100%; padding: 0 0 30px; box-sizing: border-box;}
.foot_info p{ color: #999; font-size: 12px; line-height: 20px;}
.foot_info p.foot_txt{ margin-top: 20px; }
.foot_info p strong{ color: #fff; font-size: 14px; font-weight: bold; line-height: 20px; }